doctype html
html
  head
    title= title
    link(rel='import', href='/html/layout.html')
    link(rel='import', href='/html/add-box.html')
    link(rel='import', href='/html/todo-list.html')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='/javascripts/index.js')
